/target/
!.mvn/wrapper/maven-wrapper.jar
/.mvn/
/mvnw
/mvnw.bat
mvnw.cmd
/log/
*.log*
/target/metamodel
/src/main/metamodel
/.apt_generated/
/.settings
/*/.settings/
/.classpath
/*/.classpath
*.classpath
*.settings/
*.settings
/.project
.project
/.idea
*.idea/
/*/.idea/
/.idea/
*.iml
*.ipr
